<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- META -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <title>hAIkuu</title>
        <!-- ICON -->
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/grid.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
        <!-- JS -->
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-migrate-1.2.1.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/device.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
    </head>
    <body>
        <script type="text/javascript" src="{{ url_for('static', filename='js/facebook.js') }}"></script>
        <div class="page">
            <!--==============================HEADER==============================-->
            <header>
                <section class="parallax parallax01">
                    <div class="top-panel">
                        <div class="container">
                            <div class="brand">
                                <h1 class="brand_name"><a href="/">hAIkuu</a></h1>
                                <p class="brand_slogan">Artificial Intelligence</p>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <h2 class = "lander">Never Have Dull Captions Again.</h2><br>
                        <p class = "lander"> <em>AI, NLP, and Computer Vision to Generate Haikus.</em></p>
                        <div class="row">
                            <img id="outputImage" style="display:none;"></img>
                            <input id="inputImage" type="file" accept="image/*" capture="camera"></input>
                            <img id="loading" style="display:none;" src="loading.gif"></img>
                            <button id="generate" type="button" class="btn btn-default btn-lg">Generate Haiku</button>
                            <div id="haiku"></div>
                            </div>
                        </div>
                    </div>
                </section>
            </header>

            <!--==============================CONTENT==============================-->
            <main>
                <section class="well center">
                    <div class="container">
                        <h2>About Our App</h2>
                        <p>You've just snapped the most artistic, stunning photo yet. <br>
                            After applying Valencia on Instagram, you realize you have one problem:
                            You don't have an artistic caption to go with it. Hipsters fear no more!!!
                            hAIkuu sees and interprets your image, and uses in-house AI natural language processing algorithms to craft deep haikus that your artsy friends can't possibly criticize.</p>
                        <div
                          class="fb-like"
                          data-share="true"
                          data-width="450"
                          data-show-faces="true">
                        </div>
                        <div class="row iconed-list">
                            <div class="grid_4">
                                <div class="icon fa-instagram"></div>
                                <h3>Instagram Integration</h3>
                                <p>Share your image and captions immediately to Instagram! We could even automatically apply the hipster af Valencia for you!</p>
                            </div>
                            <div class="grid_4">
                                <div class="icon fa-facebook icon__bg-2"></div>
                                <h3>Facebook Share</h3>
                                <p>Share your haiku image combination to your friends and see all the analysis they'll be applying to a machine-made haiku. </p>
                            </div>
                            <div class="grid_4">
                                <div class="icon fa-twitter icon__bg-3"></div>
                                <h3>Twitter Integration</h3>
                                <p>Is Facebook too mainstream? You could also tweet out your haikus and the pictures. You could even tweet the hashtag #haikuu and <a href="http://www.twitter.com/haikuuapp"> @haikuuapp </a> will reply to you!</p>
                            </div>
                        </div>
                    </div>
                </section>
                </body>
                <footer>
        <div class="container">
            <div class="footer-brand">
                <div class="footer-brand_name"><a href="#">hAIkuu</a></div>
                <p class="footer-brand_slogan">Artificial Intelligence</p>
            </div>
            <p class="copyright">
                © <span id="copyright-year"></span> Kelvin Liu, Andrew Sy, Henry Du, Shahn Shamdasani 
            </p>
        </div>
    </footer>
        <script src="js/script.js"></script>
</html>
